---
section: Layout
chapter: Grid
slug_section: layout
slug_chapter: grid
description: Grid system for building layouts of all shapes and sizes.
---

<section class="header-doc bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <h1>{{chapter}}</h1>
        <p class="lead">{{description}}</p>
    </div>
</section>

<section class="bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="header">Grid by Bootstrap v4</h2>
                <p><strong>Here, we will not reinvent the wheel.</strong> Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range.</p>
                <p>For more info and view the documentation, go to: <a class="doc-link" target="_blank" href="http://v4-alpha.getbootstrap.com/layout/grid/">Bootstrap Grid Doc</a></p>

                <div class="bas-ui-card bas-ui-bottom-margin-3">
                    <div class="bas-ui-card-supporting-text doc-grid">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    1 of 2
                                </div>
                                <div class="col">
                                    1 of 2
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    1 of 3
                                </div>
                                <div class="col">
                                    1 of 3
                                </div>
                                <div class="col">
                                    1 of 3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col&quot;&gt;
            1 of 2
        &lt;/div&gt;
        &lt;div class=&quot;col&quot;&gt;
            1 of 2
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col&quot;&gt;
            1 of 3
        &lt;/div&gt;
        &lt;div class=&quot;col&quot;&gt;
            1 of 3
        &lt;/div&gt;
        &lt;div class=&quot;col&quot;&gt;
            1 of 3
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

            </div>
        </div>

    </div>
</section>
