---
section: Content
chapter: Icons
slug_section: content
slug_chapter: icons
description: Uses the icons in the format, color and size they need for any project.
---

<section class="header-doc bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <h1>{{chapter}}</h1>
        <p class="lead">{{description}}</p>
    </div>
</section>

<section class="bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="header">Sizes</h2>
                <p>Add <code class="language-markup">bas-ui-icon bas-ui-icon-* 18,24,36,48,96,128-182</code>.</p>

                <div class="bas-ui-card bas-ui-bottom-margin-3">
                    <div class="bas-ui-card-supporting-text">
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-18 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-24 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-48 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-96 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-128 bas-ui-icon-left"></i>
                        </a>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;a&gt;
    &lt;i class=&quot;mdi mdi-comment bas-ui-icon bas-ui-icon-18&quot;&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2 class="header">Align left</h2>
                <p>Add <code class="language-markup">bas-ui-icon bas-ui-icon-left</code>.</p>

                <div class="bas-ui-card bas-ui-bottom-margin-3">
                    <div class="bas-ui-card-supporting-text">
                        <a class="doc-icons-icon doc-icons-icon-align">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-left bas-ui-icon-24"></i>
                        </a>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;a&gt;
    &lt;i class=&quot;mdi mdi-comment bas-ui-icon bas-ui-icon-left bas-ui-icon-24&quot;&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>

            </div>

            <div class="col-md-6">
                <h2 class="header">Align right</h2>
                <p>Add <code class="language-markup">bas-ui-icon bas-ui-icon-right</code>.</p>

                <div class="bas-ui-card bas-ui-bottom-margin-3">
                    <div class="bas-ui-card-supporting-text">
                        <a class="doc-icons-icon doc-icons-icon-align">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-right bas-ui-icon-24"></i>
                        </a>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;a&gt;
    &lt;i class=&quot;mdi mdi-comment bas-ui-icon bas-ui-icon-right bas-ui-icon-24&quot;&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2 class="header">Light background</h2>
                <p>Add <code class="language-markup">bas-ui-icon bas-ui-icon-dark</code>.</p>

                <div class="bas-ui-card bas-ui-bottom-margin-3">
                    <div class="bas-ui-card-supporting-text">
                        <a class="doc-icons-icon doc-icons-icon-align">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-dark bas-ui-icon-36"></i>
                        </a>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;a&gt;
    &lt;i class=&quot;mdi mdi-comment bas-ui-icon bas-ui-icon-dark bas-ui-icon-36&quot;&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>

            </div>

            <div class="col-md-6">
                <h2 class="header">Dark background</h2>
                <p>Add <code class="language-markup">bas-ui-icon bas-ui-icon-light</code>.</p>

                <div class="bas-ui-card bas-ui-bottom-margin-3 shades-black">
                    <div class="bas-ui-card-supporting-text">
                        <a class="doc-icons-icon doc-icons-icon-align">
                            <i class="mdi mdi-comment bas-ui-icon bas-ui-icon-light bas-ui-icon-36"></i>
                        </a>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;a&gt;
    &lt;i class=&quot;mdi mdi-comment bas-ui-icon bas-ui-icon-light bas-ui-icon-36&quot;&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="header">Icon collection</h2>
                <p>BasMaterial UI, uses a icon collection from <a class="doc-link" target="_blank" href="https://materialdesignicons.com/">Material Design Icons</a></p>

                <div class="bas-ui-card bas-ui-bottom-margin-3">
                    <div class="bas-ui-card-supporting-text">
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-account bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-airplay bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-autorenew bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-bookmark bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-check-all bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                        <a class="doc-icons-icon">
                            <i class="mdi mdi-dots-horizontal bas-ui-icon bas-ui-icon-36 bas-ui-icon-left"></i>
                        </a>
                    </div>
                </div>

                <pre><code class="language-markup">
&lt;a&gt;
    &lt;i class=&quot;mdi mdi-*&quot;&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>

            </div>
        </div>

    </div>
</section>
