---
section: Home
chapter: Overview
slug_section: home
slug_chapter: overview
description: <%= package.description %>
---

<section class="header-doc header-doc-center home bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>BasMaterial UI</h1>
                <p class="lead">BasMaterial UI, is a natural user interface based in <a target="_blank" class="shades-text-black secondary-color-text" href="https://material.io/guidelines/">Google's Material Design</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="getting-started"><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="{{site.changelog_git}}"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> What's New ?</a></p>
            </div>
            <div class="col-sm-6">
                <p class="source-in-git-hub"><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light download-in-git-hub" href="{{site.zip_git}}"><i class="mdi mdi-download bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> Download</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="lead last-commit-in-git-hub-p"><a target="_blank" class="shades-text-white secondary-color-text-hover" href="{{site.homepage_git}}"><i class="mdi mdi-github-circle bas-ui-icon"></i></a> Latest Commit: <a class="last-commit-in-git-hub secondary-color-text" target="_blank" href="#">Loading...</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-6 doc-promo-img">
                <i class="mdi mdi-view-quilt bas-ui-icon bas-ui-icon-right bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 pull-md-6 doc-promo-text">
                <h4>Layout</h4>
                <p class="lead">Options for structuring your pages, including global styles, required scaffolding, grid system, and more.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" href="/layout/structuring.html">See more...</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section doc-section-black bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 doc-promo-img">
                <i class="mdi mdi-layers bas-ui-icon bas-ui-icon-left bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 doc-promo-text">
                <h4>Content</h4>
                <p class="lead">Styles for displaying content with some of the most commonly used HTML elements, including normalization, typography, images, tables, and more.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" href="/content/typography.html">See more...</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-6">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-6 doc-promo-img">
                <i class="mdi mdi-puzzle bas-ui-icon bas-ui-icon-right bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 pull-md-6 doc-promo-text">
                <h4>Components</h4>
                <p class="lead">Reusable components built to provide cards, buttons, dropdowns, forms, modals, tabs, and much more.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" href="/components/cards.html">See more...</a></p>
            </div>
        </div>
    </div>
</section>
