---
section: Components
chapter: Messages (Soon)
slug_section: components
slug_chapter: messages
description: Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
---

<section class="header-doc bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{chapter}}</h1>
                <p class="lead">{{description}}</p>
            </div>
            <div class="col-sm-4 bas-ui-top-padding-3 center">
                <!-- ADS-TOP -->
            </div>
        </div>
    </div>
</section>

<section class="bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Coming soon...</h2>

            <pre><code class="language-markup">
Coming soon...</code></pre>

            <p class="lead bas-ui-top-padding-3 center">If you wish you can contribute to the development of this component.</p>
            <p class="bas-ui-bottom-padding-3 center"><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" href="/help/donate.html">Contribute...</a></p>

        </div>
    </div>

</div>
</section>
