---
section: Home
chapter: Showcase
slug_section: home
slug_chapter: showcase
description: Featuring top apps and websites built using BasMaterial UI.
---
<section class="header-doc center bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <h1>Showcase</h1>
        <p class="lead">{{description}}</p>
        <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" href="mailto:dev@basgrani.com?subject=Request for publication app in BasMaterial UI - Showcase" role="button"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> Submit your app</a></p>
    </div>
</section>

<section class="doc-section bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-6 doc-promo-img">
                <i class="mdi mdi-application bas-ui-icon bas-ui-icon-right bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 pull-md-6 doc-promo-text">
                <h4>Coming soon your app</h4>
                <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="#"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> See this Case Study</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section doc-section-black bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 doc-promo-img">
                <i class="mdi mdi-application bas-ui-icon bas-ui-icon-left bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 doc-promo-text">
                <h4>Coming soon your app</h4>
                <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="#"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> See this Case Study</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-6">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-6 doc-promo-img">
                <i class="mdi mdi-application bas-ui-icon bas-ui-icon-right bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 pull-md-6 doc-promo-text">
                <h4>Coming soon your app</h4>
                <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="#"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> See this Case Study</a></p>
            </div>
        </div>
    </div>
</section>
