---
section: Components
chapter: Toast
slug_section: components
slug_chapter: toast
description: Is a non-blocking notifications.
---

<section class="header-doc bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{chapter}}</h1>
                <p class="lead">{{description}}</p>
            </div>
            <div class="col-sm-4 bas-ui-top-padding-3 center">
                <!-- ADS-TOP -->
            </div>
        </div>
    </div>
</section>

<section class="bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Types</h2>
            <p><strong>Here, we will not reinvent the wheel.</strong> Toast is based in Toastr proyect.</p>
            <p>For more info and view the documentation, go to: <a class="doc-link" target="_blank" href="http://www.toastrjs.com">Toastr Doc</a></p>

            <p class="bas-ui-bottom-padding-1">
                <a class="bas-ui-button bas-ui-button-success bas-ui-waves-light doc-toast-success-trigger">Success</a>
                &nbsp;&nbsp;&nbsp;
                <a class="bas-ui-button bas-ui-button-info bas-ui-waves-light doc-toast-info-trigger">Info</a>
                &nbsp;&nbsp;&nbsp;
                <a class="bas-ui-button bas-ui-button-warning bas-ui-waves-light doc-toast-warning-trigger">Warning</a>
                &nbsp;&nbsp;&nbsp;
                <a class="bas-ui-button bas-ui-button-danger bas-ui-waves-light doc-toast-error-trigger">Error</a>
            </p>

            <pre><code class="language-javascript">
// Show the success Toast
BasUI.Toast.success('Are you the 6 fingered man?','Success');

// Show the info Toast
BasUI.Toast.info('Are you the 6 fingered man?','Info');

// Show the warning Toast
BasUI.Toast.warning('Are you the 6 fingered man?','Warning');

// Show the error Toast
BasUI.Toast.error('Are you the 6 fingered man?','Error');
            </code></pre>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Methods</h2>

            <p class="bas-ui-bottom-padding-1">
                <a class="bas-ui-button bas-ui-button-primary bas-ui-waves-light doc-toast-clear-trigger">Clear</a>
                &nbsp;&nbsp;&nbsp;
                <a class="bas-ui-button bas-ui-button-primary bas-ui-waves-light doc-toast-remove-trigger">Remove</a>
            </p>

            <pre><code class="language-javascript">
// Remove current toasts using animation
BasUI.Toast.clear();

// Immediately remove current toasts without using animation
BasUI.Toast.remove();
            </code></pre>

        </div>
    </div>

</div>
</section>
