/* ---------------------------------------------------------------------- */
/* Global Docs
/* ---------------------------------------------------------------------- */

.doc-link {
    color: #689f38;
}

/*** Code  ***/
pre[class*="language-"] {
    position: relative;
    padding: 45px 35px 25px;
    border: solid 1px rgba(51, 51, 51, 0.12);
    font-size: .85rem;

    &:before {
        position: absolute;
        padding: 1px 5px;
        background: #e8e6e3;
        top: 0;
        left: 0;
        color: #555;
        content: attr(class);
        font-size: .9rem;
        border: solid 1px rgba(51, 51, 51, 0.12);
        border-top: none;
        border-left: none;
    }
}
:not(pre)>code[class*=language-] {
    background: #e8e6e3;
}

// Nav
.bas-ui-side-nav {

    .bas-ui-side-nav-wrapper {

        .brand {

            a {
                img {
                    max-width: 155px;
                    margin-right: 10px;
                }
            }
        }
    }
}

// Header doc
.header-doc {
    background-color: #2d2d2d;
    color: #fff;

    h1 {
        font-size: 72px;
        color: #689f38;
        i {
            font-size: 72px;
        }
    }
    p {
        margin-bottom: 25px;
    }

    @media (max-width: 767px){
        h1 {
            font-size: 52px;
        }
    }
}

/* Section */
.doc-section {

    .doc-promo-img {

        i {
            line-height: 182px;
        }

        @media (max-width: 767px){
            i {
                float: none;
                margin: 0;
            }
            text-align: center;
        }
    }

    .doc-promo-text {
        p {
            margin-bottom: 25px;
        }
        @media (max-width: 767px){
            text-align: center;
        }
    }

    &.doc-section-black {
        background-color: #2d2d2d;
        color: #fff;
    }
}

// Page - Overview
html.page-home-overview {
    .header-doc {
        .getting-started {
            text-align: right;
        }
        .source-in-git-hub {
            text-align: left;
        }
        p.last-commit-in-git-hub-p {
            font-weight: 300;
        }
        .last-commit-in-git-hub, .last-commit-in-git-hub:hover {
            text-decoration: none;
        }
        @media (max-width: 767px){
            .getting-started,
            .source-in-git-hub {
                text-align: center;
            }
        }
    }
}

// Page - Donate
html.page-home-donate {
    @media (max-width: 767px){
        h1 {
            font-size: 42px;
        }
    }
}

/* Footer */
.doc-footer {
    font-size: 85%;
    text-align: center;
    color: #fff;
    margin-top: 4rem;
    background-color: #2d2d2d;
    p {
        margin: 0;
    }
    a {
        color: #689f38;
        &:hover {
            color: #fff;
        }
        i {
            font-size: 14px;
            float: right;
            margin-left: 2px;
        }
    }
    .doc-footer-links {
        padding-left: 0;
        margin-bottom: 1rem;
        li {
            display: inline-block;
            +li {
                margin-left: 1rem;
            }
        }
    }
    @media (min-width: 576px){
        text-align: left;
    }
}

/* Helpers */
.valign-demo {
    padding: 24px;
    height: 500px;
}
.valign-demo h3 {
    width: 100%;
}

/* Notifications modal */
#bas-ui-modal-header-doc-1 {
    width: 360px;
    @media (max-width: 480px){
        width: 320px;
    }

    .bas-ui-modal-header {
        background-color: #fff;
        padding-left: 16px;
        padding-right: 10px;
    }

    .section-title {
        font-size: 20px;
    }

    .bas-ui-modal-content {
        background-color: #fff;
        padding: 0;

        .bas-ui-list {
            border: none;
            border-radius: 0;
        }
    }

    .bas-ui-modal-footer {
        background-color: #fff;
        text-align: center;

        a {
            float: none;
        }
    }
}

/* Cards -> Head Image */
.doc-card-head-image {

    .bas-ui-card-title {
        color: #fff;
        height: 176px;
        background: url('../img/welcome_card.jpg') center / cover;
    }

    .bas-ui-card-menu {

        i {
            color: #fff;
        }
    }
}

/* Cards -> Image */
.doc-card-image {
    width: 256px;
    height: 256px;
    background: url('../img/image_card.jpg') center / cover;
}

/* Cards -> Event */
.doc-card-event {
    width: 256px;
    height: 256px;
}

// Forms
.doc-form {
    margin-bottom: 25px;

    .bas-ui-search-expandable {
        float: right;
    }
}

/* Dropdown */
.doc-bas-ui-card-dropdown {
    min-height: 250px;
    overflow: visible;
}
.doc-bas-ui-card-dropdown-bottom {

    .bas-ui-card-menu {
        bottom: 16px;
        top: auto;
    }
}
.doc-bas-ui-card-dropdown-left {

    .bas-ui-card-menu {
        left: 16px;
        right: auto;
    }
}

/* Tabs */
.doc-tabs {
    background-color: #f5f5f5;
    height: 56px;

    .bas-ui-card-supporting-text {
        padding: 0 16px;
        line-height: 0;
        height: 100%;
    }

    &.doc-tabs-not-padding {
        .bas-ui-card-supporting-text {
            padding: 0;
        }
    }
}

/* Drop zone */
.doc-drop-zone-message {
    text-align: center;
    font-weight: 500;
    color: #4e4e4e;
    .doc-drop-zone-message-browse {
        font-weight: 400;
    }
    .doc-drop-zone-message-browse-link {
        text-decoration: underline;
    }
}

/* Badges */
.doc-badge-icon {
    line-height: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}
.doc-badge-text {
    line-height: 28px;
}

/* Icons */
.doc-icons-icon {
    display: inline-block;
    &.doc-icons-icon-align {
        width: 100%;
    }
}

/* Color */
.doc-color-palette {

    .color-wrap {
        margin-bottom: 25px;

        > div {
            padding: 15px;
        }

        div {

            .cod-color {
                float: right;
            }
        }
    }

    .palette {
        min-height: 786px;
    }
}

/* Grid */
.doc-grid {
    .row {
        > .col {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(86,61,124,.15);
            border: 1px solid rgba(86,61,124,.2);
        }
        + .row {
            margin-top: 1rem;
        }
    }
}

/* Structuring */
.doc-structuring {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;

    .doc-structuring-header {
        height: 1rem;
        margin-left: 4.5rem;
        margin-bottom: .5rem;
        border-radius: .25rem;
    }
    .doc-structuring-sidebar {
        float: left;
        width: 4rem;
        height: 9.5rem;
        border-radius: .25rem;
    }
    .doc-structuring-body {
        height: 8rem;
        margin-left: 4.5rem;
        border-radius: .25rem;
    }
}
